CT_CONFIG_VERSION="4"
CT_ARCH_ARM=y
CT_ARCH_CPU="arm1176jzf-s"
CT_ARCH_SUFFIX="v6"
CT_ARCH_FPU="vfp"
CT_ARCH_FLOAT_HW=y
CT_TARGET_VENDOR="versatile"
CT_KERNEL_LINUX=y
CT_BINUTILS_PLUGINS=y
CT_GLIBC_LOCALES=y
CT_GCC_V_14=y
CT_CC_GCC_DISABLE_PCH=y
CT_CC_GCC_BUILD_ID=y
CT_CC_GCC_LNK_HASH_STYLE_BOTH=y
CT_CC_LANG_CXX=y
CT_COMP_LIBS_EXPAT=y
CT_GMP_EXTRA_CFLAGS="-std=gnu17"
CT_NCURSES_EXTRA_CFLAGS="-std=gnu17"
